@using MyMvcShopDb.Core.Models
@model Product

<section id="gallery" class="container my-5 pt-4">
    <h2 class="text-center mb-4">Gallery</h2>
    <div class="row justify-content-center">
        <div class="col-md-10">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img asp-src="@Model.ImageUrl" class="d-block w-100 rounded" alt="Product image" />
            }
        </div>
    </div>
</section>
<hr />